@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="image" src="~/img/cakeChokotoff.jpg" />
    <h1>Chokotoff and Twix day!</h1>
    <p class="lead">You're invited by the WAD14 group to our annual Chokotoff and twix day! We will eat chokotoff's cake baked by one of the best, Dominique aka Bidouille!</p>
    <p class="lead">  WHEN: Thursday october 9! WHERE: ♫ Somewhere over the rainbow ♫... for real  though, at Interface 3 ! </p>
    <p><a href="/Confirm/confirm" class="btn btn-primary btn-large">Confirm your attendance! &raquo;</a></p>
</div>

