@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chokotoff and Twix day!</h1>
    <p class="lead">You're invited by the WAD14 group to our annual Chokotoff and twix day! We will eat chokotoff's cake baked by the best!</p>
    <p class="lead">  WHEN: Thursday october 9! WHERE: at Interface 3 (26R2)! </p>
    <p><a href="/Confirm/confirm" class="btn btn-primary btn-large">Confirm your attendance! &raquo;</a></p>
</div>

