@model FirstMVC.Models.Response

@{
    ViewBag.Title = "Thanx";
}

<div>
    @if (Model.presence == true)
    {
        @:Great @Model.Nom)! You are SO gonna enjoy it...#YUMMY
    }
    else if (Model.presence == false)
    {
        @:What a pity @Model.Nom)! But hey, there will be more for us then...HA!
    }
    else
    {
        @:Come on now! You can't miss it...forget about WW ;-)
    }
</div>

<br />

@{
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 465;
        WebMail.EnableSsl = true;
        WebMail.UserName = "gracemingiedi@gmail.com";
        WebMail.Password = "Jacqueline89.";
        WebMail.From = "amandine@test.com";
        WebMail.Send("elodie950@gmail.com", "Your atendance confirmation", Model.Nom + "is" + ((Model.presence ?? false) ? "" : "not") + "attending");

    }
    catch (Exception)
    {
        @:<b>Was unable to send the mail.</b>
    }
}